<div class="container-fluid">
    <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
            <p>Tatuajes</p>
            <h1>Warrior Tatoos</h1>
            <p>Somos un lugar de tatuajes con mucha experiencia. Llevamos más de 20 años en el negocio y somos 4
                amigos laburando juntos haciendo lo que nos apasiona. Cada uno tiene su propio estilo, si queres
                informarte y conocerlos seguí leyendo!</p>
        </div>
    </div>
</div>
<!--Inicio Tipo de tatuajes-->
<div class="row my-3">
    <div id="tipo de tatuajes" class="col-md-5 offset-md-2 scroll_section">
        <h2>Tipos de tatuajes</h2>
        <ul class="tipo-tatuajes">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                        src="images/tipos1.jpg">Realistas</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1"><img
                        src="images/tipos2.jpg">Graffiti</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img
                        src="images/tipos3.jpg">Góticos</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3"><img
                        src="images/tipos4.jpg">Escritos</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4"><img
                        src="images/tipos5.jpg">Geométricos</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal5"><img
                        src="images/tipos6.jpg">Tribal</a></li>
        </ul>
    </div>
    <!--Inicio modal realistas-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Realistas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Dado que el tatuaje es arte, y que el arte no responde a unas reglas fijas, sino que es también
                        innovación, los resultados son espectaculares.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin modal-->
    <!--Inicio modal graffiti-->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Graffiti</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Si eres aficionado a escribir frases y garabatos en las paredes, ya no tienes que meterte en
                        problemas por rayar las paredes de tu barrio. Puedes usar tu cuerpo para escribir todo lo que te
                        salga de adentro. Los graffitis son un diseño muy sencillo pero que puede representar una
                        infinidad de cosas..</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin modal-->
    <!--Inicio modal góticos-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Góticos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Los diseños de cruces, el pentagrama, la cruz ansada y el 666 son también muy populares e incluso
                        algunos usan la cruz invertida para simbolizar la muerte. Los lugares para tatuarse estas
                        opciones no son exclusivos, pueden ser brazos, piernas, espalda e incluso en el rostro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin modal-->
    <!--Inicio modal escritos-->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Escritos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Los lettering tatoo, tatuajes literalmente escritos, siempre han sido los más solicitados y
                        llenos de significados. Los primeros datan de la Edad Media y no es difícil entender por qué
                        muchos los eligen: significados particulares, piezas de canciones, frases importantes o
                        simplemente el nombre de alguien a quien amas. Lo que queda en la piel no es solo un dibujo sino
                        una señal que permanecerá imborrable en el tiempo.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin modal-->
    <!--Inicio modal geometricos-->
    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Geométricos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Los Tatuajes Geométricos tienen un contenido muy especial. Son aquellos que representan la
                        simetría en el equilibrio, y la armonía de la vida. Sus formas y sus líneas son bien precisas,
                        continuas y en ocasiones repetitivas. Este tipo de tatuajes ha cobrado gran popularidad, también
                        por su significado, pues simbolizan la vida, la naturaleza y el mundo en general.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin modal-->
    <!--Inicio modal tribal-->
    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tribal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Los tatuajes tribales son el estilo de tatuaje más antiguo dentro del mundo de la tinta.
                        Principalmente las tribus aborígenes optaban por este tipo de tatuajes para marcar su status
                        social o mostrar a qué clan o nivel de guerrero pertenecían. Los hombres, desde el inicio de
                        este estilo, son los que más hacen uso de los tatuajes tribales,
                        eligiendo zonas como los brazos, las piernas y los hombros. Sin embargo, las mujeres también
                        suelen ser amantes de esta forma.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin modal-->
    <!--Inicio Carousel-->
    <div class="col-md-3 my-3">
        <div class="rounded py-5 testimonios">
            <h2 class="text-center">Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"Tremendo lugar! La mejor onda"</h5>
                            <p>Francisco, Palermo</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"Me encantó!"</h5>
                            <p>Candela, Barracas</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"Saben lo que hacen, me costó pero me ayudaron a animarme"</h5>
                            <p>Pablo, Avellaneda</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"Quedé super contento con mi manga!"</h5>
                            <p>Tomas, Recoleta</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!--Fin Carousel-->
</div>
<!--Inicio historia-->
<div id="historia" class="row align-items-center py-4 scroll_section">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block scroll_section">
        <img src="images/historia1.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/historia2.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="images/historia3.jpg" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>Historia</h2>
        <p>Hace más de 20 años trabajando, comenzó como un emprendimiento y ahora nos dedicamos a esto con mucho
            amor y pasión. Somos un grupo de amigos que cursaron juntos la facultad y se unieron para llevar este
            proyecto adelante. Si nos elegís te prometemos una experiencia hermosa y un resultado todavía mejor!</p>
    </div>
</div>

<!--Inicio Nosotros-->
<div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/nosotros1.jpg" class="card-img-top" alt="Manuel Rodriguez">
                    <div class="card-body">
                        <h5 class="card-title">Manuel Rodriguez</h5>
                        <p class="card-text">Hola soy Manuel, me dedico más a hacer tatuajes onda dark, más góticos. Estoy acostumbrado a usar mucha tipografía. Te espero!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros2.jpg" class="card-img-top" alt="Santiago Gomez">
                    <div class="card-body">
                        <h5 class="card-title">Santiago Gomez</h5>
                        <p class="card-text">Me llamo Santiago. Amo el full black, me divierto explorando muchos tipos de tatujes. Amo los retos y los tatuajes originales. Venite que te vas con una sonrisa!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros3.jpg" class="card-img-top" alt="Luana Gimenez">
                    <div class="card-body">
                        <h5 class="card-title">Luana Gimenez</h5>
                        <p class="card-text">Mi nombre es Luana. Trabajo de esto desde chiquita y es mi pasión. Amo que la gente se vaya feliz del local, es el objetivo. Todos los tatuajes suman! </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros4.jpg" class="card-img-top" alt="Gonzalo Figuero">
                    <div class="card-body">
                        <h5 class="card-title">Gonzalo Figuero</h5>
                        <p class="card-text">Hola soy Gonzalo. Me gusta trabajar con tatuajes más delicados y finitos, me gusta mucho el reto del detalle. Si el resultado lo vale estoy horas sin darme cuenta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--novedades con modal-->
<div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 scroll_section">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal6{{id}}"><img src="{{imagen}}">{{titulo}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{#each novedades}}
<div class="modal fade" id="exampleModal6{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>{{subtitulo}}</h5>
                <img src="{{imagen}}">
                <p>{{cuerpo}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<!--inicio mapa y formulario-->
<div id="conocenos" class="row py-4 scroll_section">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13136.87979466186!2d-58.430385882131!3d-34.59859930610899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses-419!2sar!4v1696205721159!5m2!1ses-419!2sar"></iframe>
        </div>
    </div> <!--cierre id visitanos-->
    <!--aca va el otro de contacto-->
    <div class="col-md-4 mt-4 mt-sm-0 scroll_section">
        <h2>Contactanos</h2>
        <form class="row g-3" action="/" method="post">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
            </div>
            <div class="col-12">
                <label for="tel" class="form-label">Tel</label>
                <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
            </div>
            <div class="col-12">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <p>{{message}}</p>
    </div>
</div>